.home{
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px 0px;
    transition: scale 0.5s;
}
*{
    scroll-behavior: smooth;
}

.content-card{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
    border-radius: 5%;
    box-shadow: 0px 0px 17px 3px blanchedalmond;
    width:800px;
    height: 300px;
    margin: 20px 20px 20px 0px;
}

.dark-theme-shadow{
    box-shadow: 0px 0px 17px 3px white;
}

.image{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    /* border-color:blanchedalmond;
    border-width: 5px;
    border-style:solid; */
    /* box-shadow: 3px 3px 30px 2px blanchedalmond; */
}

.home:hover{
    scale: 1.05;
}

h3{
    font-weight: normal;
}

.home-cont-txt{
    font-weight: normal;
    font-size: x-large;
    margin: 0px;
}

.home-cont{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 100px;
}

.home-desc{
    margin: 20px;
}

.home-name{
    font-size:xx-large;
}