
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 10;
    position: fixed;
    background-color:white;
    margin-bottom: 30px;
}

.divider{
    height: 75px;
}

.nav-right{
    flex: 1;
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;

}

.nav-left{
    flex: 1;
}

.nav-left ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
}
.item{
    margin: 20px;
}

.item a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.nav-right h1{
    font-weight: normal;
    color: whitesmoke;
}

.item a:hover{
    border-bottom: 5px solid #408EC6;
}

.nav h1{
    color: #408EC6;
}
.item a{
    color: #408EC6;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #408EC6; 
  }

.dark-theme{
    background-color: black;
}

.darktheme-fonts{
    color: white;
}

.theme-icon{
    height: 30px;
    width: 30px;
    margin: 0px;
    cursor: pointer;
}